<app-navbar></app-navbar>
<div class="container">
<div class="starter-template">
<h1>Bootstrap starter template</h1>
<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>

<section class="todoapp">
  <header class="header">
    <h1>Todos</h1>
     <div class="form-group">
    <input class="new-todo form-control" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.description" (keyup.enter)="addTodo()">
     </div>
  </header>
  <section class="main" *ngIf="todos.length > 0">
    <ul class="todo-list list-group">
      <li class="list-group-item active" *ngFor="let todo of todos" [class.completed]="todo.done" >
        <div class="view">
          
          <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
          <span class="lead">{{todo.description}}</span> 
          <button class="destroy btn btn-danger pull-right" (click)="removeTodo(todo)">Remove</button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="todos.length > 0">
    <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
</section>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

</div>
</div>
<app-footer></app-footer>
